html,
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* a {
  text-decoration: none;
} */

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.header a {
  color: rgba(0, 0, 0, 0.87);
}

.footer a {
  color: #70757a;
}

.footer a:active {
  color: red;
}

/* HEADER */

.header {
  display: flex;
  padding: 1rem 0.5rem;
  justify-content: space-between;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.87);
}

.header-left,
.header-right {
  display: flex;
}

.header-left-element {
  display: flex;
  padding-left: 1rem;
  align-items: center;
}

.header-right-element {
  display: flex;
  padding-right: 1rem;
  align-items: center;
}

.google-apps {
  height: 16px;
  display: flex;
  cursor: pointer;
}

.google-apps-link:hover {
  color: black;
}

#sign-in {
  border: 1px solid #4285f4;
  background: -moz-linear-gradient(top, #4387fd, #4683ea);
  color: white;
  padding: 6px 12px;
  font-weight: bold;
  border-radius: 3px;
  text-decoration: none;
  cursor: default;
}

#sign-in:hover {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
}

/* CONTENT */

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 100px;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 272px;
  height: 92px;
  margin-top: 40px;
}

.inner-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  /* margin-left: auto;
  margin-right: auto; */
  margin-top: 30px;
}

.search-bar-input {
  width: 50vw;
  min-width: 329px;
  max-width: 584px;
  padding: 13px 0px 13px 45px;
  border-radius: 24px;
  border: 1px solid #dfe1e5;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

.search-bar-input:hover {
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
}

.search-bar-input:focus {
  outline: none;
}

i {
  position: absolute;
  padding: 16px;
  opacity: 0.25;
}

fas {
  padding: 10px;
}

.search-buttons {
  display: flex;
  justify-content: center;
  margin: 26px;
}

.search-button,
.lucky-button {
  border: 1px solid #f8f9fa;
  background-color: #f8f9fa;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 14px;
  color: #3c4043;
  border-radius: 4px;
  margin: 0 6px;
  white-space: nowrap;
}

.search-button:hover,
.lucky-button:hover {
  border: 1px solid #dadce0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.languages {
  font-size: small;
}

/* FOOTER */

.footer {
  display: flex;
  justify-content: space-between;
  padding: 0 0.5rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40px;
  align-items: center;
  background-color: #f2f2f2;
  border-top: 1px solid #dadce0;
  font-size: 14px;
  color: #70757a;
}

.footer-left,
.footer-right {
  display: flex;
}

.footer-left-element {
  padding-left: 1.5rem;
}

.leaf-image {
  width: 12.25px;
  height: 14px;
  margin-right: 5px;
}

.footer-right-element {
  padding-right: 1.5rem;
}

.footer-right {
  padding-right: 1rem;
}
